.container {
	max-width: 320px;
	height: 100%;

	margin: 0 auto;
	box-sizing: border-box;

	&__wrapper {
		position: relative;
		display: flex;

		height: 100%;

		flex-direction: column-reverse;
	}
}

@media (min-width: 600px) {
	.container {
		max-width: 600px;

		&__wrapper {
			flex-direction: row;
		}
	}
}